<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welocme to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contain total of 9 questions. Each Question holds 10 Points</p>
    <h4>Read me before starting the quiz:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives you -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Type in your name:</label>
        <input #name type="text" class="form-control" placeholder="Full Name">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start Quiz!!</button>
</div>